# Node modules
node_modules/


# Log dosyaları
*.log

# Sistem dosyaları
.DS_Store
Thumbs.db

# IDE / Editor dosyaları
.vscode/
.idea/

# Paket yöneticisi lock dosyaları (opsiyonel)
package-lock.json
yarn.lock
